:host ::ng-deep {
  .p-datatable tr td {
    background-color: #ffcd6a;
    border: 19px solid #fff;
    border-radius: 35px;
  }
  .p-button-target{
    background:#FC933F;
    color:#fff;
    padding: 10px;
    margin-left: 20px;
    border-color:  #fff;
  }
}
